# OpenWeatherMap API Key
OPENWEATHER_API_KEY=YOUR_API_KEY

# Spotify API Credentials
SPOTIFY_CLIENT_ID=YOUR_CLIENT_ID
SPOTIFY_CLIENT_SECRET=YOUR_CLIENT_SECRET
SPOTIFY_REDIRECT_URI=http://localhost:8888/callback

# Last.fm API Key (Alternative for Spotify)
LASTFM_API_KEY=YOUR_API_KEY
LASTFM_USERNAME=r_v_s_
